<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.woyun.streambank.dao.DealerMapper">
	<!-- <select id="findDealerByNo" 
		resultType="com.woyun.streambank.model.Dealer"
		parameterType="string">
		SELECT 
			dealer_id dealerId,
			dealer dealerName,
			dealer_no dealerNo,
			retail_discount retailDiscount,
			settlement_discount settlementDiscount
		FROM 
			dealer
		WHERE 
			dealer_no = #{value}
	</select> -->
	<select id="findDealerByName" 
		resultType="com.woyun.streambank.model.Dealer"
		parameterType="string">
		SELECT 
			dealer_id dealerId,
			dealer_name dealerName,
			dealer_no dealerNo,
			retail_discount retailDiscount,
			settlement_discount settlementDiscount
		FROM 
			dealer
		WHERE 
			dealer_name = #{value}
	</select>
</mapper>